body {
    background-color:rgb(20,20,20);
    margin: 0;
    font-family: "Manrope", sans-serif;
    color: rgb(208, 227, 255);
}

header {
    position: relative;
    height: 80px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 60px;
    height: auto;
}

.navbar-text {
    color: rgb(208, 227, 255);
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}

.login-btn {
    background-color: rgb(155, 199, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.center-container div {
    text-align: center;
}

.college-select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    color: rgb(208, 227, 255);
}

button {
    background-color: rgb(155, 199, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}
